.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/php.xml
.idea/Storio.iml
.idea/vcs.xml
.idea/webResources.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/dictionaries/AlexWhite.xml
.idea/inspectionProfiles/Project_Default.xml
