body {
	padding-top: 5rem;
	background-color: #F7F7F7;
}

* {
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration:none;
	color: cornflowerblue;
}

.bi-shield {
	color: rgba(199, 62, 62, 0.801);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	height:94px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.progress {
	margin-left: auto; margin-right:auto;
}

.noLink {
	color: black;
	text-decoration: none;
}

html.with-featherlight {
	/* disable global scrolling when featherlights are visible */
	overflow: inherit;
}

.center {
	margin: 0 auto;
	max-height: 80%;
	display: block;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.nav-item {
	width: 18%;
}

.left-indent {
	padding-left:1.5rem;
}

.stop-wrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.img-icon {
	width: 32px;
	height: 32px;
	margin-right: 25px;
}

.table-responsive {
	overflow: inherit;
}

@media only screen and (max-width: 768px) {
	.nav-item {
		width: 24%;
	}

	.nav-link {
		font-size: 0.7rem;
	}

	.left-indent {
		padding-left:0.6rem;
	}

	.mobileCenter {
		text-align:center;
	}

	.img-icon {
		width: 16px;
		height: 16px;
		margin-right: 8px;
	}

	.table-responsive {
        overflow: scroll;
    }

	.fileSize {
		display: none;
	}
}