body {
	padding-top: 5rem;
	background-color: #F7F7F7;
}

* {
	font-family: 'Nunito', sans-serif;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	height:94px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.nav-item {
	width: 18%;
}

.left-indent {
	margin-left:10px;
}

@media only screen and (max-width: 768px) {
	.nav-item {
		width: 33%;
	}

	.left-indent {
		margin-left:0px;
	}
}